.results-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.results-section {
  margin: 20px 0;
}

.results-section h3 {
  font-size: 20px;
  color: #333;
}

.result-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 10px;
  margin: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  border-radius: 5px;
}

.result-button:hover {
  background-color: #45a049;
}

.question-details-container {
  display: flex;              /* Use flexbox for centering */
  justify-content: center;    /* Center horizontally */
  margin-top: 15px;          /* Space above */
}

.question-details {
  text-align: center;          /* Text alignment within the box */
 /* border: 1px solid #469c3a;  Border style */
  padding: 10px;             /* Inner padding */
  border-radius: 5px;        /* Rounded corners */
  background-color: #d5f5d1; /* Background color */
  width: 98.3%;                /* Set a width to limit its size */
}


strong {
  color: #4CAF50;
}
