/* Apply background color to the entire page */
body {
  background-color: #d5f5d1; /* Light grayish-blue background */
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.quiz-container {
  display: inline-block;
  text-align: left;
}

.question-section {
  margin-bottom: 20px;
}

.answer-section button {
  display: block;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #3E8E41; /* Border line and color */
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  cursor: pointer;
  width: 100%; /* Makes the button wide and consistent */
  max-width: 300px; /* Limit the max width */
  height: 50px; /* Ensures all buttons have the same height */
  border-radius: 10px; /* Rounds the corners */
}

.answer-section button:hover {
  background-color: #45a049;
}

.score-section {
  font-size: 24px;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 20px; /* Add margin to separate from other content */
}

.replay-button {
  display: inline-block;
  background-color: #105f14;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


.replay-button:hover {
  background-color: #2d9a41;
}

